AMR_DEBUG=false
AMR_USE_PROXY=false
AMR_HTTP_PROXY=http://127.0.0.1:7890
AMR_HTTPS_PROXY=http://127.0.0.1:7890
FRED_API_KEY=
AMR_GAINER_CURRENT_DATE=
AMR_GAINER_PREVIOUS_DATE=
AMR_GOLD_CURRENT_PRICE=
AMR_GOLD_PREVIOUS_PRICE=
AMR_BTC_OLD_DATE=
AMR_BTC_NEW_DATE=
AMR_BOND_TARGET_DATE=
